# ======================
# Ambiente virtual
# ======================
venv/
.venv/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Variáveis sensíveis
# ======================
.env

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Logs
# ======================
*.log

# ======================
# Arquivos temporários
# ======================
temp/
tmp/

# ======================
# Excel temporário
# ======================
~$*.xlsx

# ======================
# Sistema operacional
# ======================
.DS_Store
Thumbs.db

# ======================
# Arquivos gerados
# ======================
exports/
dados/
output/